.gradle/
build/
local.properties
release.keystore
app/build/
app/src/main/res/drawable/client_icon_custom.png
app/src/main/res/drawable/client_icon_custom.webp
app/src/main/res/drawable/client_icon.png
app/src/main/res/drawable/client_icon.webp
local.properties.tmp
